@page "/fetchdata"

@inject HttpClient Http
    
<PageTitle>Weather forecast</PageTitle>

<div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Enter User/Reponame</RadzenText>
                <RadzenTextBox Change=@(args => OnChange(args, "TextBox")) Class="w-100" />
            </RadzenCard>
            <RadzenButton Text=@text Click=@OnButtonClick />
</div>

@code {
    string path;
    string text = "Analyse";

    void OnChange(string value, string name)
    {
        path =  "http://localhost:5258/downloadrepos/" + value;
    }
    async void OnButtonClick()
    {
        text = await OnInitializedAsync(path);
    }   

    protected async Task<Author> OnInitializedAsync(string path)
    {
        private Author[]? authors;

        protected override async Task OnInitializedAsync() => 
        authors = await Http.GetFromJsonAsync<Author[]>(path);
    }

    public class Author {
        public string AuthorId { get; set; }
        public List<Commit> AuthorCommits { get; set; }
    }

    public class Commit {
        public int totalCommits { get; set; }
        public string commitDate { get; set; }
    }
}