<div class="container-fluid button-demo">
    <div class="row mb-4">
        <div class="col">
            <RadzenButton Click=@(args => OnClick("Success button ")) Text="Success" ButtonStyle="ButtonStyle.Success" />
        </div>
    </div>
</div>
<style>
    .button-demo .rz-button {
        margin: 0 0.5rem 1rem 0;
    }
    .button-demo h3 {
        margin-bottom: 1rem;
    }
</style>

@code {
    bool busy;

    void OnClick(string buttonName)
    {
        Console.WriteLine(buttonName + " clicked");
    }

    async Task OnBusyClick()
    {
        busy = true;
        await Task.Delay(2000);
        busy = false;
    }
}